@import './base/reset';
@import './base/base';
@import './utils/variables';
@import './utils/mixin';
@import './base/typhography';
@import './layout/grids';
@import './сomponents/header';
@import './сomponents/hero';
@import './сomponents/bose';
