@import './base/reset';
@import './utils/variables';
@import './utils/mixin';
@import './utils/placeholders';
@import './base/base';
@import './base/typhography';
@import './layout/grids';

@import './сomponents/header';
@import './сomponents/hero';
@import './сomponents/work';
@import './сomponents/capable';
@import './сomponents/luxury-silense';
@import './сomponents/technology';
@import './сomponents/guarantees';
@import './сomponents/history';
@import './сomponents/reviews';
@import './сomponents/faq';
@import './сomponents/bose';
@import './сomponents/banner';
@import './сomponents/feedback';
@import './сomponents/footer';
