// Плейсхолдеры для заголовков секции silense 
%title-large {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    color: $colorTextTitle;
    padding-bottom: 32px;
  }
  
  %title-medium {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.25;
    color: $colorTextTitle;
  }
  
  // Плейсхолдер для описаний
  %description-small {
    font-size: 14px;
    line-height: 1.45;
    font-weight: 400;
    color: rgba($colorTextWhite, 0.8);
  }
  