// Кольори
$colorTextWhite: #fff;
$colorTextAccentPrimary: #000;
$colorTextTitle: #e7e7e7;
$colorTextAccent: #df3d3a;
$colorTextAgree: #e9edfa;
$colorBgBose: #191919;
// шрифти
$fontFamily: 'Gilroy', sans-serif;
$secondFamily: 'Roboto Condensed', sans-serif;
$thirdFamily: 'Roboto', sans-serif;
