// Кольори
$colorTextWhite: #fff;
$colorTextAccentPrimary: #000;
$colorTextTitle: #e7e7e7;
$colorTextAccent: #df3d3a;
$colorTextAccentHover: #b5302d;
$colorTextAgree: #e9edfa;
$colorTextError: #ea4335;
$colorBgBose: #191919;
$colorFeedbackLine: rgba(255, 255, 255, 0.5);
$FormError: #ea4335;
$colorBgButton: #1d1d1d;
// шрифти
$fontFamily: 'Gilroy', sans-serif;
$secondFamily: 'Roboto Condensed', sans-serif;
$thirdFamily: 'Roboto', sans-serif;
