.bose__container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.slider {
  overflow: hidden;
  max-width: 700px;
}

.slider-box {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.bose-slider__list {
  display: flex;
  transition: transform 0.4s ease;
  flex-direction: row;
  min-width: 100%;
}

.bose-slider__item {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bose__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.bose__title--desctop {
  display: none;
}

.order {
  display: flex;
  flex-direction: column;

  gap: 32px;
}

.bose__btn-box {
  display: flex;
  gap: 24px;
}

.bose__button {
  border-radius: 100%;
  background-color: $colorBgButton;
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 0;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:after {
    content: '';
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: $colorTextAccentPrimary;
  }

  &.active-btn::after {
    border: 2px solid $colorTextAccent;
    width: 30px;
    height: 30px;
  }
}

.bose__button--white {
  @include bg($colorTextWhite, 0.8);

  &:after {
    @include bg($colorTextWhite, 0.8);
  }
}

.order__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.order__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  border-top: 2px solid #6e6e6ecc;
}

.order__item--third {
  border-bottom: 2px solid #6e6e6ecc;
  padding-bottom: 25px;
}

.order__text {
  line-height: 1.25;
}

.accommodation {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.accommodation__price {
  color: $colorTextAccent;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

.accommodation__submit {
  padding-block: 19px;
  @include color($colorTextWhite, 0.9);
  background-color: $colorTextAccent;
  font-weight: 600;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 200% 100%;
  background-image: linear-gradient(
    to right,
    transparent 50%,
    $colorTextAccentHover 50%
  );
  transition: background-position 0.2s ease, background-color 0.3s ease;

  @media (hover: hover) {
    &:hover {
      background-position: -100% 100%;
      background-color: $colorTextAccentHover;
    }
  }

  @media (hover: none) {
    &:active {
      background-position: -100% 100%;
      background-color: $colorTextAccentHover;
    }
  }
}

// MEDIA

@media (min-width: 768px) {
  .bose__container {
    padding-inline: 60px;
  }

  .bose__title {
    font-size: 30px;
  }

  .bose__title--desctop {
    display: none;
  }

  .bose__photo {
    max-width: 650px;
  }

  .order {
    gap: 40px;
  }

  .bose__button {
    width: 58px;
    height: 58px;

    &::after {
      width: 42px;
      height: 42px;
    }

    &.active-btn::after {
      width: 40px;
      height: 40px;
    }
  }

  .order__list {
    margin-bottom: 12px;
  }

  .accommodation {
    gap: 32px;
  }

  .accommodation__price {
    font-size: 30px;
  }

  .accommodation__submit {
    max-width: 295px;
  }
}

@media (min-width: 1200px) {
  .bose__container {
    padding-inline: 0px;
    flex-direction: row-reverse;
    gap: 150px;
  }

  .bose__photo {
    max-width: 700px;
  }

  .order {
    gap: 50px;
    flex-grow: 1;
    max-width: 400px;
  }

  .order__list {
    margin-bottom: 0px;
    max-width: 400px;
  }

  .bose__title {
    display: none;
    font-size: 54px;
  }

  .bose__title--desctop {
    display: block;
  }

  .bose__btn-box {
    display: flex;
    gap: 20px;
  }

  .bose__button {
    width: 70px;
    height: 70px;

    &:after {
      width: 54px;
      height: 54px;
    }

    &.active-btn:after {
      width: 52px;
      height: 52px;
    }
  }

  .accommodation__price {
    font-size: 54px;
  }

  .accommodation__submit {
    max-width: 400px;
    padding-block: 22px;
  }
}
