.capable__title{
    font-family: $fontFamily;
    font-weight: 600;
    font-size: 54px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $colorTextTitle;
}
.capable__item{
font-family: $fontFamily;
font-size: 20px;

color: rgba(255, 255, 255, 0.8);
}
