.capable__container{
    background-color: black;
}
.capable__title{
font-family: $fontFamily;
font-weight: 600;
font-size: 24px;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 32px;
max-width: 150px;
text-transform: uppercase;
color: $colorTextTitle;
    
}
.capable__list{
display: flex;
flex-direction: column;
align-items: start;
}
.capable__item{
font-family: $fontFamily;
font-weight: 400;
position: relative;
font-size: 14px;
margin-bottom: 16px;
display: flex;
justify-content: center;
align-items: center;
line-height: 1.4;
color: rgba(255, 255, 255, 0.8);
}
.capable__item::before{
content: "";
width: 13px;
height: 13px;
border-radius: 50%;
background-color: $colorTextAccent;
margin-right: 24px;
}
// tablet
@media(min-width: 768px){
    .capable__title{
        height: 36px;
        max-width: 550px;
        font-size: 30px;
    }
}