.faq {
  background-color: black;
}
.detail {
  border-bottom: 1px solid #333;
  margin-bottom: 15px;
  padding: 10px 0;
}

.question {
  font-size: 14px;
  cursor: pointer;
  outline: none;
  color: #fff;
  display: flex;
}
.question_text {
  max-width: 210px;
  margin-left: 10px;
  margin-right: 50px;
  font-size: 14px;
}
.faq__number {
  font-size: $colorTextTitle;
  margin-right: 6px;
  font-size: 20px;
}

.faq__title {
  font-size: 24px;
  padding-bottom: 34px;
}
.answer__text {
  font-size: 12px;
}
.question:hover {
  color: $colorTextAccent;
}

.question::marker {
  display: none;
}

.question__btn {
  position: relative;
  background: none;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: #fff;
  width: 25px;
  height: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

.question__btn:hover {
  background-color: $colorTextError;
  color: #fff;
  border-color: $colorTextError;
}

/* Tooltip */
.question__btn::after {
  content: 'Натисни на мене';
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-95%);
  background-color: #fff;
  color: #121212;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.question__btn:hover::after {
  opacity: 1;
  visibility: visible;
}

.answer {
  display: none;
  margin-top: 10px;
  color: #aaa;
}

details[open] .answer {
  display: block;
}
