.nav__menu {
  display: none;
}

.menu__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
}

.open {
  display: flex;
}

.no-scroll {
  overflow: hidden;
}

body {
  background-color: black;
}
