.features__item {
  font-size: 14px;
  line-height: 1.25;
}

.order__title {
  color: $colorTextTitle;
  font-weight: 600;
  font-size: 34px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.order__btn {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
