.history {
  padding-bottom: 50px;
}
.history__container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  &::after {
    content: '';
    display: inline-block;
    top: 0;
    right: 0;
    width: 110px;
    position: absolute;
    height: 85px;
    background-image: url(../images/line.svg);
    background-size: cover;
  }
}
.history__about {
  display: flex;
  gap: 32px;
  flex-direction: column;
}
.history__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.history__quote {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.history__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $colorTextTitle;
  max-width: 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.history__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  @include color($colorTextWhite, 0.8);
}

.quote__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
  color: $colorTextTitle;

  position: relative;
  &::before {
    content: '';
    display: block;
    width: 35px;
    height: 25px;
    margin-bottom: 24px;
    background-image: url(../images/somethingg.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.quote__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.4);
}
.history__text--tablet {
  display: none;
}
.quote__mix {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 768px) {
  .history {
    padding-bottom: 100px;
  }
  .history__container {
    padding-left: 60px;
    &::after {
      display: none;
    }
  }
  .history__content {
    flex-direction: row;
    gap: 60px;
    justify-content: space-between;
  }
  .history__text {
    font-size: 16px;
    line-height: 1.45;
  }
  .history__quote {
    gap: 135px;
    max-width: 295px;
  }
  .history__about {
    max-width: 295px;
  }
  .quote__title {
    &::before {
      margin-bottom: 50px;
    }
  }
  .history__photo {
    max-width: 355px;
  }
  .history__photo--second {
    max-width: 295px;
    align-self: flex-end;
  }

  .first__advisterment {
    display: flex;
    gap: 60px;
  }
  .second__advisterment {
    display: flex;
    align-items: flex-start;
  }

  .history__text--tablet {
    display: block;
  }
  .history__text--mobile {
    display: none;
  }
  .quote__mix {
    gap: 32px;
  }
}
@media (min-width: 1200px) {
  .history {
    padding-bottom: 170px;
  }
  .history__container {
    gap: 50px;
    padding-left: 190px;
  }
  .history__about {
    gap: 50px;
  }
  .history__text--first {
    margin-bottom: 15px;
  }
  .history__title {
    font-size: 54px;
    line-height: 1.2;
  }
  .history__text {
    font-size: 20px;
  }
  .history__photo {
    max-width: 700px;
  }
  .history__photo--second {
    max-width: 290px;
  }
  .history__about {
    max-width: 400px;
  }
  .quote__title {
    font-size: 28px;
  }
  .history__quote {
    max-width: 510px;
  }
  .quote__mix {
    max-width: 380px;
  }
  .history__content--second {
    padding-right: 190px;
  }
}
