// Применение плейсхолдеров
.silense__title {
  @extend %title-large;
}

.silence__title {
  @extend %title-medium;
}

.silence__text {
  @extend %description-small;
}

.silense {
  padding-bottom: 50px;
}

.silence__container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.silence__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.silence__item {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  gap: 16px;
}

// MEDIA

@media (min-width: 768px) {
  .silense {
    padding-bottom: 100px;
  }
  .silense__title {
    padding-right: 60px;
  }

  .silence__list {
    padding-inline: 60px;
    justify-content: center;
    flex-direction: row;

    &.silence__item {
      max-width: 295px;
    }
  }
  .features {
    flex-direction: row;
    gap: 60px;

    .features__item {
      text-align: left;
    }
  }
}

@media (min-width: 1200px) {
  .silense {
    padding-bottom: 170px;
  }

  .silence__container {
    gap: 50px;

    .silense__title {
      align-self: flex-end;
      padding-right: 80px;
    }
  }

  .silence__item {
    max-width: 510px;
  }

  .features__item {
    max-width: 490px;
  }
}
