.silense__container{
    padding-top: 52px;
    background-color: rgb(73, 72, 72);
}

.silense__title{
    text-align: end;
}
.features{
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 42px;

}
.features__text{
    padding-top: 16px;
}
.features__img{
    min-height: 293px;    
}



// -------------------

.technology__title{
    padding-top: 52px
}
.technology__description{
    padding: 16px 0px 32px 0px;
}

// -------------------
.guarantees{
    padding-top: 52px;
}
.guarantees__list{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 32px;
}

.guarantees__item-title{
    padding: 0px 0px 16px 0px;
}




// Применение плейсхолдеров
.silense__title,
.technology__title,
.guarantees__title {
  @extend %title-large;
}

.features__title,
.technology__subtitle,
.guarantees__item-title {
  @extend %title-medium;
}

.features__description,
.technology__description,
.guarantees__item-description {
  @extend %description-small;
}


