
.silense__container{
    padding-inline: 20px;
}
.silense__title{
    position: absolute;
    right: 80px;
}
.features{
    display: flex;
    flex-direction: row;

}




.silense__title, 
.technology__title,
.guarantees__title{
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    color: $colorTextTitle;
    padding-bottom: 50px;
}

.features__title,
.technology__subtitle,
.guarantees__item-title{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.25;
    color: $colorTextTitle;
}
.features__description,
.technology__description,
.guarantees__item-description{
    font-size: 14px;
    line-height: 1.45;
    font-weight: 400;
    color: rgba($colorTextWhite, 0.8);

}
