.reviews {
  display: flex;
  justify-content: center;
}

.reviews__video {
  max-width: 920px;
  max-height: 590px;
  margin-right: 150px;
}

.reviews__box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.reviews__title {
  color: $colorTextTitle;
  font-size: 54px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.reviews__subtitle {
  color: $colorTextAccent;
  font-size: 28px;
  font-weight: 600;
  line-height: 125%; /* 35px */
  margin-bottom: 16px;
}

.reviews__text {
  color: $colorTextreviews;
  font-size: 20px;
  font-weight: 400;
  line-height: 145%; /* 29px */
  margin-bottom: 70px;
}

.reviews__list {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.reviews__item {
  color: $colorTextAccent;
  font-family: 'Roboto Condensed';
  font-size: 28px;
  font-weight: 400;
  line-height: 125%; /* 35px */
  opacity: 0, 4;
}

.reviews__item:hover {
  opacity: 1;
}
