.work__title{
font-family: $fontFamily;
font-weight: 600;
font-size: 54px;

letter-spacing: 0.02em;
text-transform: uppercase;
color: $colorTextTitle;
}
.work__titles{
    font-family: $fontFamily;
    font-weight: 600;
    font-size: 28px;
    
    color: $colorTextTitle;
}
.work__text{
    font-family: $fontFamily;
    font-size: 20px;
    
    color: rgba(255, 255, 255, 0.8);
}
