.characteristics {
  padding-block: 50px;
}

.design {
  padding-bottom: 50px;
}

.design__photo {
  min-width: 280px;
}
.design__title {
  font-family: $fontFamily;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $colorTextTitle;
  margin-bottom: 32px;
}

.design__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.design__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.design__subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: $colorTextTitle;
}
.design__text {
  font-size: 14px;
  line-height: 1.4;
  @include color($colorTextWhite, 0.8);
}

// tablet
@media (min-width: 768px) {
  .characteristics {
    padding-block: 100px;
  }

  .design {
    padding-bottom: 130px;
  }

  .container__design {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 60px;
    padding-right: 60px;
  }

  .design__title {
    font-size: 30px;
  }

  .design__about {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .design__subtitle {
    font-size: 20px;
  }

  .design__text {
    font-size: 16px;
  }

  .design__photo {
    max-width: 500px;
    min-width: 355px;
  }
}
@media (min-width: 1200px) {
  .characteristics {
    padding-block: 170px;
  }

  .container__design {
    justify-content: flex-end;
    gap: 150px;
  }

  .design {
    padding-bottom: 170px;
  }

  .design__title {
    font-size: 54px;
  }

  .design__about {
    max-width: 510px;
    gap: 50px;
  }

  .design__item {
    gap: 20px;
  }

  .design__subtitle {
    font-size: 28px;
  }

  .design__text {
    font-size: 20px;
  }

  .design__photo {
    max-width: 590px;
  }
}
