<section class="banner">
  <div class="fullscreen-container">
    <picture class="banner__photo">
      <source
        srcset="
          ./images/mobile-img/feedback-mobile.webp    1x,
          ./images/mobile-img/feedback-mobile@2x.webp 2x
        "
        media="(max-width:767px) "
        type="image/webp"
      />

      <source
        srcset="
          ./images/mobile-img/feedback-mobile.jpg    1x,
          ./images/mobile-img/feedback-mobile@2x.jpg 2x
        "
        media="(max-width:767px) "
        type="image/jpeg"
      />

      <source
        srcset="
          ./images/tablet-img/feedback/feedback-tablet.webp    1x,
          ./images/tablet-img/feedback/feedback-tablet@2x.webp 2x
        "
        media="(min-width:768px) and (max-width:1199px)"
        type="image/webp"
      />

      <source
        srcset="
          ./images/tablet-img/feedback/feedback-tablet.jpg    1x,
          ./images/tablet-img/feedback/feedback-tablet@2x.jpg 2x
        "
        media="(min-width:768px) and (max-width:1199px)"
        type="image/webp"
      />

      <source
        srcset="
          ./images/pc-img/feedback/feedback-pc.webp    1x,
          ./images/pc-img/feedback/feedback-pc@2x.webp 2x
        "
        media="(min-width:1200px) "
        type="image/webp"
      />

      <source
        srcset="
          ./images/pc-img/feedback/feedback-pc.jpg    1x,
          ./images/pc-img/feedback/feedback-pc@2x.jpg 2x
        "
        media="(min-width:1200px) "
        type="image/jpeg"
      />

      <img
        src="./images/mobile-img/feedback-mobile.jpg"
        alt="headphones"
        class="banner__img"
      />
    </picture>
  </div>
</section>
