<section class="bose">
  <div class="container">
    <h2 class="bose__title">bose nc 700</h2>
    <div class="bose__btn-box">
      <button class="bose__button black"></button>
      <button class="bose__button white"></button>
    </div>
    <ul class="bose__list">
      <li class="bose__item">
        <p class="bose__text">Availability in stores</p>
        <a href="#" class="bose__link">
          <svg class="bose__icon">
            <use href="./images/arow.svg"></use>
          </svg>
        </a>
      </li>
      <li class="bose__item">
        <p class="bose__text">Characteristics</p>
        <a href="#" class="bose__link">
          <svg class="bose__icon">
            <use href="./images/arow.svg"></use>
          </svg>
        </a>
      </li>
      <li class="bose__item">
        <p class="bose__text">Payment and delivery methods</p>
        <a href="#" class="bose__link">
          <svg class="bose__icon">
            <use href="./images/arow.svg"></use>
          </svg>
        </a>
      </li>
    </ul>
    <h2 class="bose__subtitle">14 999 UAH</h2>
    <button class="bose__submit-button"><p class="order-text">order</p></button>
  </div>
  <div class="slider">
    <ul class="bose-slider__list">
      <li class="bose-slider__item">
        <picture class="bose__img-black">
          <source
            srcset="
              ./images/pc-img/bose-nc700/headphones-black.webp    1x,
              ./images/pc-img/bose-nc700/headphones-black@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            src="./images/pc-img/bose-nc700/headphones-black.webp"
            alt="headphones"
          />
        </picture>
      </li>
      <li class="bose-slider__item"></li>
    </ul>
  </div>
</section>
