<section class="bose">
  <div class="fullscreen-container bose__container">
    <div class="slider-box">
      <h2 class="bose__title">bose nc 700</h2>
      <div class="slider">
        <ul
          data-container
          class="bose-slider__list"
          data-aos="fade-left"
          data-aos-duration="700"
          data-aos-easing="easy"
        >
          <li class="bose-slider__item">
            <picture class="bose__photo">
              <source
                srcset="
                  ./images/pc-img/bose-nc700/headphones-black.webp    1x,
                  ./images/pc-img/bose-nc700/headphones-black@2x.webp 2x
                "
                media="(max-width:767px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/pc-img/bose-nc700/headphones-black.jpg    1x,
                  ./images/pc-img/bose-nc700/headphones-black@2x.jpg 2x
                "
                media="(max-width:767px)"
                type="image/jpg"
              />

              <!-- TABLET -->

              <source
                srcset="
                  ./images/tablet-img/bose-ns700/headphones-black-tablet.webp    1x,
                  ./images/tablet-img/bose-ns700/headphones-black-tablet@2x.webp 2x
                "
                media="(min-width:768px) and (max-width: 1199px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/tablet-img/bose-ns700/headphones-black-tablet.jpg    1x,
                  ./images/tablet-img/bose-ns700/headphones-black-tablet@2x.jpg 2x
                "
                media="(min-width:768px) and (max-width: 1199px)"
                type="image/jpg"
              />

              <!-- DESCTOP -->

              <source
                srcset="
                  ./images/pc-img/bose-nc700/headphones-black.webp    1x,
                  ./images/pc-img/bose-nc700/headphones-black@2x.webp 2x
                "
                media="(min-width:1200px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/pc-img/bose-nc700/headphones-black.jpg    1x,
                  ./images/pc-img/bose-nc700/headphones-black@2x.jpg 2x
                "
                media="(min-width:1200px)"
                type="image/jpg"
              />
              <img
                src="./images/pc-img/bose-nc700/headphones-black.jpg"
                alt="headphones"
              />
            </picture>
          </li>
          <li class="bose-slider__item">
            <picture class="bose__photo">
              <source
                srcset="
                  ./images/pc-img/bose-nc700/headphones-white.webp    1x,
                  ./images/pc-img/bose-nc700/headphones-white@2x.webp 2x
                "
                media="(max-width:767px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/pc-img/bose-nc700/headphones-white.jpg    1x,
                  ./images/pc-img/bose-nc700/headphones-white@2x.jpg 2x
                "
                media="(max-width:767px)"
                type="image/jpg"
              />

              <!-- TABLET -->

              <source
                srcset="
                  ./images/tablet-img/bose-ns700/headphones-white-tablet.webp    1x,
                  ./images/tablet-img/bose-ns700/headphones-white-tablet@2x.webp 2x
                "
                media="(min-width:768px) and (max-width: 1199px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/tablet-img/bose-ns700/headphones-white-tablet.jpg    1x,
                  ./images/tablet-img/bose-ns700/headphones-white-tablet@2x.jpg 2x
                "
                media="(min-width:768px) and (max-width: 1199px)"
                type="image/jpg"
              />

              <!-- DESCTOP -->

              <source
                srcset="
                  ./images/pc-img/bose-nc700/headphones-white.webp    1x,
                  ./images/pc-img/bose-nc700/headphones-white@2x.webp 2x
                "
                media="(min-width:1200px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/pc-img/bose-nc700/headphones-white.jpg    1x,
                  ./images/pc-img/bose-nc700/headphones-white@2x.jpg 2x
                "
                media="(min-width:1200px)"
                type="image/jpg"
              />
              <img
                src="./images/pc-img/bose-nc700/headphones-white.jpg"
                alt="headphones"
              />
            </picture>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="order"
      data-aos="fade-right"
      data-aos-duration="700"
      data-aos-easing="easy"
    >
      <h2 class="bose__title bose__title--desctop">bose nc 700</h2>
      <div data-slider-nav class="bose__btn-box">
        <button data-slide="0" class="bose__button active-btn"></button>
        <button
          data-slide="1"
          class="bose__button bose__button--white"
        ></button>
      </div>
      <ul class="order__list">
        <li class="order__item">
          <p class="order__text">Availability in stores</p>
          <a href="#" class="order__link">
            <svg
              class="order__icon"
              xmlns="http://www.w3.org/2000/svg"
              width="22"
              height="23"
              viewBox="0 0 22 23"
              fill="none"
            >
              <path
                d="M1 21.4062L21 1.40625M21 1.40625L1 1.40625M21 1.40625L21 21.4062"
                stroke="#DF3D3A"
                stroke-width="2"
              />
            </svg>
          </a>
        </li>
        <li class="order__item order__item--second">
          <p class="order__text">Characteristics</p>
          <a href="#" class="order__link">
            <svg
              class="order__icon"
              xmlns="http://www.w3.org/2000/svg"
              width="22"
              height="23"
              viewBox="0 0 22 23"
              fill="none"
            >
              <path
                d="M1 21.4062L21 1.40625M21 1.40625L1 1.40625M21 1.40625L21 21.4062"
                stroke="#DF3D3A"
                stroke-width="2"
              />
            </svg>
          </a>
        </li>
        <li class="order__item order__item--third">
          <p class="order__text">Payment and delivery methods</p>
          <a href="#" class="order__link">
            <svg
              class="order__icon"
              xmlns="http://www.w3.org/2000/svg"
              width="22"
              height="23"
              viewBox="0 0 22 23"
              fill="none"
            >
              <path
                d="M1 21.4062L21 1.40625M21 1.40625L1 1.40625M21 1.40625L21 21.4062"
                stroke="#DF3D3A"
                stroke-width="2"
              />
            </svg>
          </a>
        </li>
      </ul>
      <div class="accommodation">
        <h3 class="accommodation__price">14 999 UAH</h3>
        <button class="accommodation__submit">order</button>
      </div>
    </div>
  </div>
</section>
