<div class="container capable__container">
    <h2 class="capable__title">capable of so much</h2>
    <ul class="capable__list">
      <li class="capable__item">Ability to receive calls</li>
      <li class="capable__item">Rich and powerful sound</li>
      <li class="capable__item">Active noise cancellation option</li>
    </ul>
    <ul class="capable__list">
      <li class="capable__item">Unsurpassed microphone system</li>
      <li class="capable__item">Support of voice assistants</li>
      <li class="capable__item">Bose AR Augmented Reality Audio Platform</li>
    </ul>
  </div>