
<section class="faq">
  <div
    class="container faq__container"
    data-aos="fade-up"
    data-aos-duration="700"
    data-aos-easing="easy"
  >
    <h2 class="faq__title">FAQ</h2>
    <div class="details__container">
      <details class="detail">
        <summary class="question">
          <span class="faq__number">01</span>
          <span class="question_text">How to pair with a mobile device?</span>
          <button
            class="question__btn"
            aria-label="Show hint"
            onclick="this.closest('details').toggleAttribute('open')"
          >
            ?
          </button>
        </summary>
        <div class="answer">
          <p class="answer__text">
            To pair with a mobile device, turn on your headphones, enable
            Bluetooth on your device, and select the Bose NC 700 from the
            available devices list.
          </p>
        </div>
      </details>

      <details class="detail">
        <summary class="question">
          <span class="faq__number">02</span>
          <span class="question_text">
            What is the wireless range of the Bose NC 700?
          </span>

          <button
            class="question__btn"
            aria-label="Show hint"
            onclick="this.closest('details').toggleAttribute('open')"
          >
            ?
          </button>
        </summary>
        <div class="answer">
          <span class="answer__text">
            The wireless range of the Bose NC 700 headphones is up to 10 meters
            (33 feet) in an open space.
          </span>
        </div>
      </details>

      <details class="detail">
        <summary class="question">
          <span class="faq__number">03</span>
          <span class="question_text">
            How do I fold the Bose NC 700 headphones for storage?
          </span>

          <button
            class="question__btn"
            aria-label="Show hint"
            onclick="this.closest('details').toggleAttribute('open')"
          >
            ?
          </button>
        </summary>
        <div class="answer">
          <p class="answer__text">
            The Bose NC 700 headphones do not fold completely but the earcups
            rotate to lay flat for easy storage in the provided case.
          </p>
        </div>
      </details>

      <details class="detail">
        <summary class="question">
          <span class="faq__number">04</span>
          <span class="question_text">Does the guarantee work internationally?</span>

          <button
            class="question__btn"
            aria-label="Show hint"
            onclick="this.closest('details').toggleAttribute('open')"
          >
            ?
          </button>
        </summary>
        <div class="answer">
          <p class="answer__text">
            Yes, the guarantee works internationally, but terms and conditions
            may vary depending on the region.
          </p>
        </div>
      </details>
    </div>
  </div>
</section>
