<section class="faq">
  <div class="container faq__container">
    <details class="detail" name="faq">
      <summary class="question">
        01 How to pair with a mobile device?
        <button
          class="question__btn"
          aria-label="Show hint"
          onclick="this.closest('details').toggleAttribute('open')"
        >
          ?
        </button>
      </summary>
      <div class="answer">
        To pair with a mobile device, turn on your headphones, enable Bluetooth
        on your device, and select the Bose NC 700 from the available devices
        list.
      </div>
    </details>

    <details class="detail" name="faq">
      <summary class="question">
        02 What is the wireless range of the Bose NC 700?
        <button
          class="question__btn"
          aria-label="Show hint"
          onclick="this.closest('details').toggleAttribute('open')"
        >
          ?
        </button>
      </summary>
      <div class="answer">
        The wireless range of the Bose NC 700 headphones is up to 10 meters (33
        feet) in an open space.
      </div>
    </details>

    <details class="detail" name="faq">
      <summary class="question">
        03 How do I fold the Bose NC 700 headphones for storage?
        <button
          class="question__btn"
          aria-label="Show hint"
          onclick="this.closest('details').toggleAttribute('open')"
        >
          ?
        </button>
      </summary>
      <div class="answer">
        The Bose NC 700 headphones do not fold completely but the earcups rotate
        to lay flat for easy storage in the provided case.
      </div>
    </details>

    <details class="detail" name="faq">
      <summary class="question">
        04 Does the guarantee work internationally?
        <button
          class="question__btn"
          aria-label="Show hint"
          onclick="this.closest('details').toggleAttribute('open')"
        >
          ?
        </button>
      </summary>
      <div class="answer">
        Yes, the guarantee works internationally, but terms and conditions may
        vary depending on the region.
      </div>
    </details>
  </div>
</section>
