<section class="feedback">
  <!-- <img class="footer__sigmawomen" src="./images/sigmawomen.jpg" alt="#" /> -->
  <div class="feedbacks">
    <div class="feedback__help">
      <h2 class="feedback__title">Feedback</h2>
      <p class="feedback__text">
        We'll help you find the right headphones for you.
      </p>
    </div>
    <form class="footer__forms">
      <p class="pokaifu">Your name</p>
      <input type="text" required name="name" id="name" />
      <p class="pokaifu">Your e-mail</p>
      <input type="email" required name="email" id="email" />
      <p class="pokaifu">Send us a message</p>
      <input type="text" required name="text" id="text" />

      <div class="footer-legitcheck">
        I agree to the
        <span class="eshkere"><a href="">privacy policy</a> </span>
      </div>
      <button class="footer__button">Send</button>
    </form>
  </div>
</section>
