<section class="feedback">
  <div class="feedbacks">
    <div class="feedback__help">
      <h2 class="feedback__title">Feedback</h2>
      <p class="feedback__text">
        We'll help you find the right headphones for you.
      </p>
    </div>
    <form class="footer__forms">
      <p class="imput__text imput__text__first">Your name</p>
      <input class="footer__form" type="text" required name="name" id="name" />
      <p class="imput__text imput__text__second">Your e-mail</p>
      <input
        class="footer__form"
        type="email"
        required
        name="email"
        id="email"
      />
      <p class="imput__text imput__text__third">Send us a message</p>
      <input
        class="footer__form footer__form__space"
        type="text"
        required
        name="text"
        id="text"
      />
      <div class="footer-legitcheck">
        <input type="checkbox" id="checkbox" class="hidden-checkbox" />
        <label class="checkbox-label" for="checkbox"></label>
        <p class="legitcheck__p">
          I agree to the
          <span class="privacy__politic"><a href="">privacy policy</a></span>
        </p>
      </div>
      <button class="footer__button draw">Send</button>
    </form>
  </div>
</section>
