<footer class="footer">
  <div class="footer_infoposts">
    <a href="./index.html" class="footer__infopost">Characteristics</a>
    <a href="./index.html" class="footer__infopost">History</a>
    <a href="./index.html" class="footer__infopost">Reviews</a>
    <a href="./index.html" class="footer__infopost">Payment and delivery</a>
    <a href="./index.html" class="footer__infopost">Store addresses</a>
    <a href="./index.html" class="footer__infopost">FAQ</a>
  </div>
  <div class="footer__number">8 (800) 111-11-11</div>
</footer>
