<img class="footer__sigmawomen" src="./images/sigmawomen.jpg" alt="#" />
<div class="feedbacks">
  <div class="feedback__help">
    <h2 class="feedback__title">Feedback</h2>
    <p class="feedback__text">
      We'll help you find the right headphones for you.
    </p>
  </div>
  <div class="footer__forms">
    <p class="pokaifu">Your name</p>
    <input type="text" required name="name" id="name" />
    <p class="pokaifu">Your e-mail</p>
    <input type="email" required name="email" id="email" />
    <p class="pokaifu">Send us a message</p>
    <input type="text" required name="text" id="text" />

    <!-- <input type="text" class="footer_form">Your name
    <input type="text" class="footer_form">Your e-mail
    <input type="text" class="footer_form footer_form__message">
      Send us a message -->

    <div class="footer-legitcheck">
      I agree to the <span class="eshkere"><a href="">privacy policy</a> </span>
    </div>
    <div class="footer__button"><a href="./index.html">send</a></div>
  </div>
</div>
<footer class="footer">
  <div class="footer_infoposts">
    <p class="footer__infopost">Characteristics</p>
    <p class="footer__infopost">History</p>
    <p class="footer__infopost">Reviews</p>
    <p class="footer__infopost">Payment and delivery</p>
    <p class="footer__infopost">Store addresses</p>
    <p class="footer__infopost">FAQ</p>
  </div>
  <div class="footer__number">8 (800) 111-11-11</div>
</footer>
