<header
  class="header"
  data-aos="fade-down"
  data-aos-duration="1000"
  data-aos-easing="easy"
>
  <div class="fullscreen-container header__container">
    <div class="header__mixer">
      <a href="#" class="logo"
        ><img src="./images/logo.svg" alt="logo" class="logo__img"
      /></a>
      <button class="burger">
        <span class="burger__stick"></span>
      </button>
    </div>
    <nav class="nav">
      <ul class="nav__menu">
        <li class="menu__item">
          <a href="#characteristics" class="menu__link">Characteristics</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">History</a>
        </li>
        <li class="menu__item">
          <a href="#reviews" class="menu__link">Reviews</a>
        </li>
        <li class="menu__item">
          <a href="#bose" class="menu__link">Payment and delivery</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
