<section class="hero">
  <div class="fullscreen-container hero__container">
    <div
      class="hero__mix"
      data-aos="fade-right"
      data-aos-duration="1000"
      data-aos-easing="easy"
    >
      <div class="hero__features">
        <ul class="features__list">
          <li class="features__item">
            Noise cancellation headphones <br />
            that are capable for a lot of things
          </li>
          <li class="features__item">
            Up to 20 hours <br />
            of playback
          </li>
        </ul>
      </div>
      <div class="hero__order">
        <h1 class="order__title">Headphones Bose NC 700</h1>
        <button class="order__btn">order</button>
      </div>
    </div>
    <div
      class="hero__picture"
      data-aos="fade-left"
      data-aos-duration="1000"
      data-aos-easing="easy"
    >
      <picture>
        <source
          srcset="
            ./images/pc-img/hero/hero.webp    1x,
            ./images/pc-img/hero/hero@2x.webp 2x
          "
          media="(max-width:767px) "
          type="image/webp"
        />

        <source
          srcset="
            ./images/pc-img/hero/hero.jpg    1x,
            ./images/pc-img/hero/hero@2x.jpg 2x
          "
          media="(max-width:767px) "
          type="image/jpeg"
        />

        <source
          srcset="
            ./images/tablet-img/hero/hero-tablet.webp    1x,
            ./images/tablet-img/hero/hero-tablet@2x.webp 2x
          "
          media="(min-width:768px) and (max-width:1199px)"
          type="image/webp"
        />

        <source
          srcset="
            ./images/tablet-img/hero/hero-tablet.jpg    1x,
            ./images/tablet-img/hero/hero-tablet@2x.jpg 2x
          "
          media="(min-width:768px) and (max-width:1199px)"
          type="image/webp"
        />

        <source
          srcset="
            ./images/pc-img/hero/hero.webp    1x,
            ./images/pc-img/hero/hero@2x.webp 2x
          "
          media="(min-width:1200px) "
          type="image/webp"
        />

        <source
          srcset="
            ./images/pc-img/hero/hero.jpg    1x,
            ./images/pc-img/hero/hero@2x.jpg 2x
          "
          media="(min-width:1200px) "
          type="image/jpeg"
        />

        <img
          src="./images/pc-img/hero/hero.jpg"
          alt="headphones"
          class="hero__img"
        />
      </picture>
    </div>
  </div>
</section>
