<!-- <section class="hero">
  <div class="fullscreen-container hero__container">
    <div class="hero__features">
      <ul class="features__list">
        <li class="features__item">
          Noise cancellation headphones that are capable for a lot of things
        </li>
        <li class="features__item">Up to 20 hours of playback</li>
      </ul>
    </div>
    <div class="hero__order">
      <h1 class="order__title">Headphones Bose NC 700</h1>
      <button class="order__btn">order</button>
    </div>
    <div class="hero__picture">
      <picture>
        <source
          srcset="
            ./images/pc-img/silense-fullscreen/hero-img.webp    1x,
            ./images/pc-img/silense-fullscreen/hero-img@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/pc-img/silense-fullscreen/hero-img.jpg    1x,
            ./images/pc-img/silense-fullscreen/hero-img@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <img
          src="./images/pc-img/silense-fullscreen/hero-img.jpg"
          alt="headphones"
          width="280px"
          height="240px"
        />
      </picture>
    </div>
  </div>
</section> -->
