<section class="history">
  <div class="fullscreen-container history__fullscreen-container">
    <h2 class="history__title">BRAND CREATION HISTORY</h2>
    <div class="block__one">
      <p class="history__description">
        The history of Bose Corporation began with disappointment. In 1956, MIT
        graduate student Amar Bose bought one of the best stereo systems at the
        time for his home. After a few minutes of listening to the audio
        recording, his bewilderment turned to disappointment.
      </p>
      <picture>
        <source
          srcset="
            ./images/pc-img/silense/brand-history@2x.webp 2x,
            ./images/pc-img/silense/brand-history.webp    1x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/pc-img/silense/brand-history@2x.jpg 2x,
            ./images/pc-img/silense/brand-history.jpg    1x
          "
          type="image/jpeg"
        />
        <img
          class="image-picture__one"
          src="./images/pc-img/silense/brand-history.jpg"
          alt="Bose Corporation history photo"
        />
      </picture>

      <p class="history__description">
        From Amar's point of view, the sound was so flat and unnatural that it
        was better not to listen to the music at all than to listen to it in
        such a distorted form.
      </p>
    </div>
    <div class="block__two">
      <h2 class="history__title--desktop">BRAND CREATION HISTORY</h2>
      <p class="history__description">
        Bose's frustration grew into a firm determination to build audio
        equipments that would reproduce sound with impeccable accuracy and
        naturalness
      </p>
      <picture>
        <source
          srcset="
            ./images/pc-img/silense/silense-men@2x.webp 2x,
            ./images/pc-img/silense/silense-men.webp    1x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/pc-img/silense/silense-men@2x.jpg 2x,
            ./images/pc-img/silense/silense-men.jpg    1x
          "
          type="image/jpeg"
        />
        <img
          class="image-picture__two"
          src="./images/pc-img/silense/silense-men.jpg"
          alt="Portrait of a man sharing his testimonial"
        />
      </picture>

      <blockquote class="testimonial__quote">
        <p class="testimonial__text">
          Never stop dreaming. Always dream of the best, and think about how to
          achieve it.
        </p>
      </blockquote>
      <p class="testimonial__description">Amar Bose is a company founder</p>
    </div>
  </div>
</section>
