<section class="reviews">
  <div class="fullscreen-container reviews__container">
    <h2 class="reviews__title">reviews</h2>
    <ul class="reviews__slider">
      <li class="slider__item">
        <iframe
          class="slider__video"
          src="https://www.youtube.com/embed/VqP11Ma_2Fk?si=T1y4xG_OijFCMGKF"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </li>
      <li class="slider__item">
        <iframe
          class="slider__video"
          src="https://www.youtube.com/embed/BUyLpf-u97Y?si=u4LsA2Uy_QCtAHAm"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </li>
      <li class="slider__item"></li>
      <li class="slider__item">
        <iframe
          class="slider__video"
          src="https://www.youtube.com/embed/NgtznBDFRUo?si=woiZerE06wmFYjA8"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </li>
    </ul>
    <ul class="pavigation">
      <li class="pavigation__item">
        <button class="pavigation__btn">01</button>
      </li>
      <li class="pavigation__item">
        <button class="pavigation__btn">02</button>
      </li>
      <li class="pavigation__item">
        <button class="pavigation__btn">03</button>
      </li>
      <li class="pavigation__item">
        <button class="pavigation__btn">04</button>
      </li>
    </ul>
  </div>
</section>
