<section class="reviews" id="reviews">
  <div class="fullscreen-container reviews__container">
    <h2
      class="reviews__title mobile__title"
      data-slider
      data-aos="fade-left"
      data-aos-duration="700"
      data-aos-easing="easy"
    >
      reviews
    </h2>
    <div class="reviews__slider">
      <ul class="slider__list" data-slider>
        <li class="slider__item">
          <iframe
            class="slider__video"
            src="https://www.youtube.com/embed/VqP11Ma_2Fk?si=T1y4xG_OijFCMGKF"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </li>
        <li class="slider__item">
          <iframe
            class="slider__video"
            src="https://www.youtube.com/embed/BUyLpf-u97Y?si=u4LsA2Uy_QCtAHAm"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </li>
        <li class="slider__item">
          <iframe
            class="slider__video"
            src="https://www.youtube.com/embed/NgtznBDFRUo?si=woiZerE06wmFYjA8"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </li>
        <li class="slider__item">
          <iframe
            class="slider__video"
            src="https://www.youtube.com/embed/KfvkEecCYSw?si=0DPU1HJHeY3CKPnr"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </li>
      </ul>
    </div>
    <div class="reviews__mix">
      <div class="reviews__about">
        <h2
          class="reviews__title desctop__title"
          data-aos="fade-left"
          data-aos-duration="700"
          data-aos-easing="easy"
        >
          reviews
        </h2>
        <ul
          class="about__list"
          data-slider-text
          data-slider
          data-aos="fade-left"
          data-aos-duration="700"
          data-aos-easing="easy"
        >
          <li class="about__item">
            <h3 class="about__title">Bose Сorporation</h3>
            <p class="about__text">
              Critically acclaimed for their powerful noise cancelling,
              astonishing sound, and unrivaled voice pickup, Bose Noise
              Cancelling Headphones 700 help turn any space into the perfect
              place to listen to music, get work done, or just shut out the
              world for a few moments and relax
            </p>
          </li>
          <li class="about__item">
            <h3 class="about__title">Bose Сorporation</h3>
            <p class="about__text">
              Bose Noise Cancelling Headphones 700 deliver everything you expect
              — and things you never imagined possible. The perfect balance of
              quiet, comfort, and sound
            </p>
          </li>
          <li class="about__item">
            <h3 class="about__title">Bose Сorporation</h3>
            <p class="about__text">
              Real stories of people tuning in or out to feel peace, find
              escape, and for self-care
            </p>
          </li>
          <li class="about__item">
            <h3 class="about__title">Bose Сorporation</h3>
            <p class="about__text">
              Bose Noise Cancelling Headphones 700 deliver everything you expect
              — and things you never imagined possible. The perfect balance of
              quiet, comfort, and sound
            </p>
          </li>
        </ul>
      </div>

      <ul
        class="pavigation"
        data-pavigation
        data-slider
        data-aos="fade-left"
        data-aos-duration="700"
        data-aos-easing="easy"
      >
        <li class="pavigation__item">
          <button class="pavigation__btn active-btn" data-video="0">01</button>
        </li>
        <li class="pavigation__item">
          <button class="pavigation__btn" data-video="1">02</button>
        </li>
        <li class="pavigation__item">
          <button class="pavigation__btn" data-video="2">03</button>
        </li>
        <li class="pavigation__item">
          <button class="pavigation__btn pavigation__btn--last" data-video="3">
            04
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
