.footer {
  background-color: gray;
  min-width: 1440px;
  height: 950px;
}
.help__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 54px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #e7e7e7;
}
.help__text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 28px;
  line-height: 125%;
  color: #e7e7e7;
}
.footer_form {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 70%;
  color: rgba(255, 255, 255, 0.3);
}
.footer-legitcheck {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #e9edfa;
}
.footer__button {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}
.footer-infopost {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: rgba(255, 255, 255, 0.3);
}
.footer__number {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}
